
body {
    overscroll-behavior: contain;
    --bs-primary: #19b394;
}

button {
    background-color: #19b394;
    color: white;
    font-style: bold;
    font-size: 1.5em;
    border: none;
    border-radius: .5em;
    padding: 1em;
}

button:hover {
    background-color: #19b394;
    color: gray;
}

h1 {
    color: #19b394;
}